{{!-- <div class="text-center">
  <h2>{{name}}</h2> --}}
  {{!-- <p>{{{get_emoji}}}</p> --}}
  {{!-- <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}.</p> --}}
  {{!-- <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p> --}}
  {{!-- <p>
    <button class="btn btn-primary">Post new comment!</button>
  </p>
</div> --}}

  {{!-- <div class='comments-container'>
    <h2>
      Post new comment to this project!
    </h2>
    <form class='new-comment-form'>
      <label for='comment_title'>
        Comment Title:
      </label>
      <br />
      <textarea id='comment_title' name='comment_title' rows='2' cols='30'>
        {{comment.title}}
      </textarea>
      <br />
      <label for='description'>
        Description:
      </label>
      <br />
      <textarea id='description' name='description' rows='5' cols='30'>
        {{comment.description}}
      </textarea>
      <br />
      <br />
     <button type='submit' value='Submit'>
        Submit
      </button>
    </form>
  </div> --}}

  
  
 
  <p>COMMENTS.HANDLEBARS</p>
  <form class="form new-comment-form">
      <div class="form-group">
        <label for="new-comment" id="comment-grab">Enter New Comment:</label>
        {{!-- <input class="form-input" type="text" id="project-name" name="project-name" /> --}}
        <input class="form-input" type="text" id="new-comment" />
      </div>
  </form>
  <button id="commentBtn">Add Comment</button>
  
 <script src="./js/comments.js"></script> 