<div class="text-center">
  <h2 id="project-name" data-id="{{id}}">{{name}}</h2>
  <p>PROJECT.HANDLEBARS</p>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  {{!-- <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{format_amount needed_funding}}</span>
    needed
  </p> --}}
  
  <form class="form new-comment-form">
      <div class="form-group">
        <label for="new-comment" id="comment-grab">Enter New Comment:</label>
        {{!-- <input class="form-input" type="text" id="project-name" name="project-name" /> --}}
        <input class="form-input" type="text" id="new-comment" />
      </div>
  </form>
  <button id="commentBtn">Add Comment</button>
  
  
  {{!-- COMMENTS LIST --}}
  <h2>Current Comments: </h2>
  <div>
    {{#each comments}}
    <ul>
      {{comment}}
    </ul>
    {{/each}}
  </div>
  

  
  {{!-- <div class="text-center">
    
    <button class="commentBtn btn btn-primary">
      <a href="/comments">Post new comment!</a>
    </button>
  </div>  --}}
  
  
  {{!-- {{#each comments}} --}}
    
  
      {{!-- <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{comment.id}}">DELETE</button>
      </div> --}}
   
  {{!-- {{/each}} --}}
 
  
</div>
<script src="/js/project.js"></script>