
<div class="container text-center mb-5">
  <h1 class="display-4">Welcome to Tech Blog!</h1>
  <div class="homeInfo">
    <h5>1. Click post title to interact and add comments to any post.</h5>
    <h5>2. Add your own post from profile page!</h5>
    <h5>3. Delete any of your own posts from profile page!</h5>
    <h5>4. Connect with like minded individuals!</h5>
  </div> 
</div>
{{#each projects as |project| }}
<div class="container">
  <div class="row-6 mb-4 project">
    <div class="col-12">
      <h2>
        <a href="/project/{{project.id}}">{{project.name}}</a>
      </h2>


        <strong class="mb-0">{{project.description}}</strong>
        <footer class="blockquote-footer"><cite title="Source Title">Created by {{project.user.name}} on {{format_date project.date_created}}</cite></footer>


      {{!-- <p>{{project.description}}</p>
      <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p> --}}
    </div>

   
    
  </div>
</div>  
{{/each}}

<script src="./js/home.js"></script>