<div class="text-center">
  <h2 id="project-name" data-id="{{id}}">{{name}}</h2>
  
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
 
  
  <form class="form new-comment-form">
      <div class="form-group">
        <label for="new-comment" id="comment-grab">Enter New Comment:</label>
        <input class="form-input" type="text" id="new-comment" />
      </div>
  </form>
  <button id="commentBtn">Add Comment</button>
  
  
  {{!-- COMMENTS LIST --}}
  <h2>Current Comments: </h2>
  <div>
    {{#each comments}}
    <ul>
      {{comment}}
    </ul>
    {{/each}}
  </div>
  
  
</div>
<script src="/js/project.js"></script>